<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Capacítate en Género</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/slider.css">
    <script src="https://kit.fontawesome.com/976a507d63.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="menu">
        <div class="nav-brand">
            <a href="../views/index.html">
                <h3>IQM</h3>
            </a>
            <a href="../views/index.html"><img src="../logos/Material_Logotipo sistema letras blancas.png" alt=""></a>
            <div class="vl"></div>
            <img src="../logos/Material_logos gobierno del estado letras blancas.png" alt="">
        </div>

        <div class="hamburger-lines">
            <input type="checkbox" name="" id="" class="btnBuerger">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>

        <ul>
            <li><a href="">Conócenos</a></li>
            <li><a href="">Capacitación</a></li>
            <li><a href="">Materiales Digitales</a></li>
            <li><a href="">Centro documental</a></li>
            <li><button class="btn-azul" onclick="window.location.href='./login.html'">Ingresar</button></li>
        </ul>
    </nav>

    <div class="slideshow-container">

        <div class="mySlides fade">
            <img src="../img/slide1.jpeg" style="width:100%">
            <div class="text">Caption Text</div>
        </div>

        <div class="mySlides fade">
            <img src="../img/slide2.png" style="width:100%">
            <div class="text">Caption Two</div>
        </div>

        <div class="mySlides fade">
            <img src="../img/slide3.png" style="width:100%">
            <div class="text">Caption Three</div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

    </div>
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>

    <div class="container">
        <h1 class="title-section">Categorías</h1>
        <div class="container-category-cards">
            <div class="category-cards">
                <img src="../img/categorias/computacion.png" alt="">
                <span>Computación</span>
                <p class="cont-cursos">0</p>
            </div>

            <div class="category-cards">
                <img src="../img/categorias/equidadgenero.png" alt="">
                <span>Equidad de género</span>
                <p class="cont-cursos">0</p>
            </div>

            <div class="category-cards">
                <img src="../img/categorias/educacion.png" alt="">
                <span>Educación</span>
                <p class="cont-cursos">0</p>
            </div>

            <div class="category-cards">
                <img src="../img/categorias/salud.png" alt="">
                <span>Salud</span>
                <p class="cont-cursos">0</p>
            </div>

            <div class="category-cards">
                <img src="../img/categorias/seguridad.png" alt="">
                <span>Seguridad</span>
                <p class="cont-cursos">0</p>
            </div>

            <div class="category-cards">
                <img src="../img/categorias/ambiente.png" alt="">
                <span>Medio ambiente</span>
                <p class="cont-cursos">0</p>
            </div>

            <div class="category-cards">
                <img src="../img/categorias/otros.png" alt="">
                <span>Otros</span>
                <p class="cont-cursos">0</p>
            </div>
        </div>

        <h1 class="title-section">Populares</h1>
        <div class="cont-populares">
            <div class="nav-arrows next-arrow">
                >
            </div>

            <div class="nav-arrows prev-arrow">
                < </div>

                    <div class="cont-card">
                        <div class="popular-card">
                            <img src="https://capacitateengenero.iqm.gob.mx/img/demo/1.jpg" alt="">
                        </div>
                        <p>Taller de empoderamiento y liderazgo para mujeres</p>
                    </div>

                    <div class="cont-card">
                        <div class="popular-card">
                            <img src="https://capacitateengenero.iqm.gob.mx/img/demo/2.jpg" alt="">
                        </div>
                        <p>Nuevas Masculinidades</p>
                    </div>

                    <div class="cont-card">
                        <div class="popular-card">
                            <img src="https://capacitateengenero.iqm.gob.mx/img/demo/4.jpg" alt="">
                        </div>
                        <p>Lenguaje incluyente y no sexista</p>
                    </div>

                    <div class="cont-card">
                        <div class="popular-card">
                            <img src="https://capacitateengenero.iqm.gob.mx/img/demo/5.jpg" alt="">
                        </div>
                        <p>Una mirada al género</p>
                    </div>
            </div>

            <h1 class="title-section">Cursos Destacados</h1>
            <div class="d-flex justify-center">
                <div class="curso-card">
                    <div>
                        <img src="https://capacitateengenero.iqm.gob.mx/img/cursos-thumbnail/ej1.jpg" alt="">
                    </div>
                    <h2>Prevención de la violencia contra niñas y mujeres</h2>
                    <p>Al finalizar el curso, las personas participantes analizarán el papel que juega la mujer dentro
                        del entorno laboral, familiar y social, para que puedan crear relaciones más equitativas e
                        igualitarias. </p>
                    <div class="card-botones">
                        <span>Curso</span>
                        <p>(0)</p>
                    </div>
                </div>

                <div class="curso-card">
                    <div>
                        <img src="https://capacitateengenero.iqm.gob.mx/img/cursos-thumbnail/ej2.jpg" alt="">
                    </div>
                    <h2>Prevención de la violencia en las relaciones de pareja en la edad joven </h2>
                    <p>Reflexionar acerca de los patrones de conducta que han generado relaciones de violencia en las
                        diferentes etapas del noviazgo, así como generar espacios propicios para el pleno goce de los
                        DDHH.</p>
                    <div class="card-botones">
                        <span>Curso</span>
                        <p>(0)</p>
                    </div>
                </div>

                <div class="curso-card">
                    <div>
                        <img src="https://capacitateengenero.iqm.gob.mx/img/cursos-thumbnail/ej3.jpg" alt="">
                    </div>
                    <h2>Taller de actuación policial para la atención de la violencia familiar y de género.</h2>
                    <p>Dotar a las y los participantes, de herramientas que les permitan brindar una atención eficaz,
                        basada en la perspectiva de género y los Derechos Humanos.</p>
                    <div class="card-botones">
                        <span>Curso</span>
                        <p>(0)</p>
                    </div>
                </div>
            </div>

            <div class="vr"></div>
        </div>

        <h1 class="title-section">Funcionalidades</h1>

        <div class="cont-funcionalidades">
            <span id="cont-btn">
                <button class="collapsible">
                    <div class="collapse-icon icon-1">
                        <i class="fas fa-clock"></i>
                    </div>
                    Aprende a tu ritmo <p>+</p>
                </button>
                <div class="content">
                    <p>Lleva a cabo los cursos sin horarios. Tú decides cuándo avanzar.</p>
                </div>
                <button class="collapsible">
                    <div class="collapse-icon icon-2">
                        <i class="fas fa-mobile"></i>
                    </div>
                    Sin limitaciones tecnológicas <p>+</p>
                </button>
                <div class="content">
                    <p>Puedes ingresar a los cursos ya sea desde tu computadora o en cualquier dispositivo (celular,
                        tableta).</p>
                </div>
                <button class="collapsible">
                    <div class="collapse-icon icon-3">
                        <i class="fas fa-user"></i>
                    </div>
                    Personal Capacitado <p>+</p>
                </button>
                <div class="content">
                    <p>Los cursos disponibles son elaborados por personal del Instituto Quintanarroense de la Mujer.</p>
                </div>

                <button class="collapsible">
                    <div class="collapse-icon icon-4">
                        <i class="fas fa-certificate"></i>
                    </div>
                    Consigue una constancia por cada curso <p>+</p>
                </button>
                <div class="content">
                    <p>Obten una constancia oficial del Instituto Quintanarroense de la Mujer válido para tu portafolio.
                    </p>
                </div>
            </span>

            <span id="cont-img">
                <img id="img-collapse" src="https://capacitateengenero.iqm.gob.mx/img/1.jpg">
            </span>
        </div>
    </div>

    <footer>
        <div class="footer-logos">
            <div>
                <a class="twitter-timeline" data-width="800" data-height="500" data-theme="dark"
                    href="https://twitter.com/IQMujer?ref_src=twsrc%5Etfw">Tweets by IQMujer</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div>
                <img src="https://capacitateengenero.iqm.gob.mx/img/logos/Material_Escudo_de_armas.png" alt=""
                    width="200">
                <img src="https://capacitateengenero.iqm.gob.mx/img/logos/Material_Ceiba.png" alt="" width="200">
                <img src="https://capacitateengenero.iqm.gob.mx/img/logos/Material_Acronimo_IQM.png" alt="" width="200">
            </div>
        </div>

        <div class="hr"></div>

        <div class="footer-botom">
            <h2>&copy; Instituto Quintanarroense de la Mujer</h2>

            <span>
                <button>
                    <i class="fab fa-whatsapp"></i>
                </button>
                <button>
                    <i class="fab fa-facebook-f"></i>
                </button>
                <button>
                    <i class="fab fa-twitter"></i>
                </button>
                <button>
                    <i class="fab fa-youtube"></i>
                </button>
            </span>
        </div>
    </footer>
    <script src="../js/slider.js"></script>
    <script src="../js/collapse.js"></script>
</body>

</html>