<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar - Capacítate en Género</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/login.css">
    <script src="https://kit.fontawesome.com/976a507d63.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="menu">
        <div class="nav-brand">
            <a href="../views/index.html">
                <h3>IQM</h3>
            </a>
            <a href="../views/index.html"><img src="../logos/Material_Logotipo sistema letras blancas.png" alt=""></a>
            <div class="vl"></div>
            <img src="../logos/Material_logos gobierno del estado letras blancas.png" alt="">
        </div>

        <div class="hamburger-lines">
            <input type="checkbox" name="" id="" class="btnBuerger">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>

        <ul>
            <li><a href="">Conócenos</a></li>
            <li><a href="">Capacitación</a></li>
            <li><a href="">Materiales Digitales</a></li>
            <li><a href="">Centro documental</a></li>
            <li><button class="btn-azul" onclick="window.location.href='./login.html'">Ingresar</button></li>
        </ul>
    </nav>

    <div class="form-login">
        <img src="https://capacitateengenero.iqm.gob.mx/img/iconos/default-avatar.png" width="150">
        <div class="spacer"></div>
        <form id="form_login" action="">
            <div>
                <span><i class="fas fa-user"></i></span>
                <input id="inptEmail" type="email" placeholder="Correo">
            </div>
            <div>
                <span><i class="fas fa-lock"></i></span>
                <input id="inptPassword" type="password" placeholder="Contraseña de la cuenta">
                <a id="btnPassword" role="button" onclick=""><i class="far fa-eye-slash"></i></a>
            </div>
            <div class="spacer-2"></div>
            <div class="helpers">
                <div>
                    <input type="checkbox" name="recordar" id="">
                    <label for="recordar">Recordar </label>
                </div>
                <a href="">¿Olvidaste tu contraseña?</a>
            </div>
            <button>I N G R E S A R</button>
        </form>
    </div>

    <script src="../js/login.js"></script>
</body>

</html>